.topic-buttons {
  display: flex;
  align-items: center; /* fixed typo */
  border: 1.5px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 30px;
  margin: 10px 5px;
  padding: 2px;
  width: auto;
  height: auto;
  white-space: nowrap;
}

.topic-buttons div {
  color: #525252;
  font-weight: 500;
  border-radius: 30px;
  font-size: clamp(1px, 2.5vw, 18px);
  font-family: 'poppins', sans-serif;
  padding: 8px;
  display: flex;
  align-items: center;   /* fixed typo */
  justify-content: center; /* fixed typo */
  width: 100%;
  min-width: 10px;
  
}