.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border-bottom: 1.7px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.navbar.scrolled {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-top {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.navbar.menu-open {
  height: auto;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
}

.menu-content div {
  font-size: 18px;
  cursor: pointer;
  padding: 6px 0;
  transition: color 0.2s ease;
  font-family: 'poppins', sans-serif;
}

.menu-content div:hover {
  color: #f15a25;
}

.logo-group {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: -10px;
}

.textlogo {
  margin-top: -5px;
  height: 100px;
  margin-left: -20px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(90%);
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.searchicon,
.menuicon {
  height: 36px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(90%) contrast(90%);
  cursor: pointer;
}
