nav{
  background-color: #00ff00;
  height: 80px;

}
.logo{
  height: 50px;
  margin-top: -400px;
}
.menuicon{
  height: 36px;
  margin-top: 22px;
  float: right;
}
.textlogo{
  height: 100px;
  margin-top: -15px;
  margin-left: -20px;
}